<fieldset>
	<legend>Contact Information</legend>
	<div class="form-group">
		<input type="text" name="contact[name]" ng-model="request.contact.name" class="form-control" placeholder="Name" />
	</div>
	<div class="form-group">
		<input type="email" name="contact[email]" ng-model="request.contact.email" class="form-control" placeholder="Email" />
	</div>
	<div class="form-group">
		<input type="text" name="contact[phone]" ng-model="request.contact.phone" class="form-control" placeholder="Phone" />
	</div>
	<div class="form-group">
		<a ui-sref="request.business" class="btn btn-info pull-right">Next</a>
	</div>
</fieldset>