<fieldset>
	<legend>Contact Information</legend>
	<div class="form-group">
		<input type="text" name="contact[name]" class="form-control" placeholder="Name" />
	</div>
	<div class="form-group">
		<input type="email" name="contact[email]" class="form-control" placeholder="Email" />
	</div>
	<div class="form-group">
		<input type="text" name="contact[phone]" class="form-control" placeholder="Phone" />
	</div>
	<div class="form-group">
		<input type="button" name="contact[next]" class="btn btn-primary pull-right" value="Next" />
	</div>
</fieldset>